<!DOCTYPE html>
<html>
<head>
  <title>Pirate Maker v2</title>
</head>
<body>
  <h1>BUILD-A-PIRATE WORKSHOP!</h1>
  <form method="post" action="/">
    Name: <input type="text" name="name">
    Catchphrase: <input type="text" name="catchphrase">
    <input type="submit" value="YARGHHHH ME MATEY!"/>
  </form>
</body>
</html>
