<!DOCTYPE html>
<html>
<head>
  <title>New Pirate</title>
</head>
<body>
  <h1>Create a New Pirate</h1>
  <form method="post" action="/pirates">
    Name: <input type="text" name="name">
    Catchphrase: <input type="text" name="catchphrase">

    <input type="submit" value="Create Pirate!"/>
  </form>
</body>
</html>
