<!DOCTYPE html>
<html>
<head>
  <title>New Pirate</title>
</head>
<body>
  <h1>Add a Pirate that's in attendance!</h1>
  <form method="post" action="/">
    Name: <input type="text" name="name">
    catch_phrase: <input type="text" name="catch_phrase">
    <input type="submit" value="Add Pirate"/>
  </form>
</body>
</html>
