<!DOCTYPE html>
<html>
<head>
  <title>New Pirate</title>
</head>
<body>
  <h1>Create a New Pirate</h1>
  <form method="post" action="/">
    Name: <input type="text" name="name">
    Catchphrase: <textarea name="catchphrase"></textarea>

    <input type="submit" value="Create Pirate!"/>
  </form>
</body>
</html>
