<!DOCTYPE html>
<html>
  <head>
    <title>Show Pirate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><%= pirate.name %></h3>
    <p><%= pirate.catchPhrase %></p>
    <img src= "<%= pirate.image_url %>" alt="<%= pirate.name %>">
  </body>
</html>
